body{
    margin: 0;
}
.container{
    height: 500vh;
    overflow: hidden;
    background-color: #333333;
}
.circle{
    position: fixed;
    top: 20%;
    left: 35%;
    height: 300px;
    width: 300px;
    border: 30px solid #00e880;
    border-radius: 100%;
}
.circle::before{
    content: "";
    position: absolute;
    top: 135px;
    left: -30px;
    width: 50px;
    height: 50px;
    background-color: #333333;
}
.circle::after{
    content: "";
    position: absolute;
    top: 135px;
    left: 290px;
    width: 50px;
    height: 50px;
    background-color: #333333;
}

.inner-circle {
    position: relative;
    top: 50px;
    left: 50px;
    width: 180px;
    height: 180px;
    border: 30px solid #c8ff80;
    border-radius: 100%;
}